requests==2.31.0
python-dotenv==1.0.1
urllib3==2.2.1
certifi==2024.2.2
charset-normalizer==3.3.2
idna==3.6
google-generativeai==0.3.2
PyQt5==5.15.10
selenium==4.11.0
undetected-chromedriver==3.5.5
beautifulsoup4==4.12.3
pyperclip==1.8.2